/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end of reset css */

body {
	background: black;
	background-attachment: fixed;
	height: 100%;
}
header{
	padding: 1em;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 5px;
    text-decoration: none;
	}
	li a:hover {
    text-decoration-line: underline;
}

.nav-link-style{
	font-weight: bold;
	font-variant: small-caps;
}
.nav{
	padding: 20px 20px;

}

.nav-links{
	display: flex;
}

.nav-li-logo{
	flex: 4;
}

.nav-li-home{
 	flex: 1;
}

.nav-li-portfolio{
	flex: 1;
}

.nav-li-contact{
	flex: 4;
}


.footer{
	background-color: white;
	color: black;
	padding: 40px 0px;
	text-align: center;
	position: static;
	bottom: 0;
	width: 100%;
}


.copyright-reversed-footer {
	display: inline-block;
	text-align: right;
	margin: 0px;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: “FlipH”;
}

.profile-image{
	border-radius: 50%;
	max-width: 50%;
	height: auto;
	display: block;
  margin-left: auto;
  margin-right: auto;
}

.about-me-section{
	display: flex;
	align-items: center;
	padding: 30px 30px;
	margin: 50px;
}

.about-me-text-div{
	padding: 0px 30px;
	margin: 0px 0px 0px 50px;
	text-align: justify;
	color: white;
	flex: 2;
}

.about-me-image-div{
	flex: 1;
}

.portfolio-section{
	background: #ff9900;
	display: grid;
	padding: 2em;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: minmax(100px,auto);
	justify-items: center;

	grid-gap: 1em;
}

.portfolio-section > div{
	padding: 1em;
	margin: 0;
}

.portfolio-image-properties{
		background: #cc7a00;
    border-radius: 8px;
    padding: 5px;
		max-width: 100%;
		height: auto;

}

.portfolio-image-hover:hover {
    box-shadow: 0 0 .5em .5em #b36b00;
		opacity: .85;
}


@media(max-width:768px){
	.nav-link-style{
		font-size: 2vw;
	}
}
